services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: "{{ pihole_timezone }}"
      FTLCONF_webserver_api_password: "{{ pihole_webpassword }}"
      FTLCONF_dns_upstreams: "{{ pihole_dns1 }};{{ pihole_dns2 }}"
    volumes:
      - ./etc-pihole/:/etc/pihole/
      - ./etc-dnsmasq.d/:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN